/* Fix for font size inheritance */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl,
dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td {
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
}
 
body {
	font-size: large;
}

/* Feed item date */
.FeedItemDate {
    font-style: italic;
	font-size: medium;
}

/* Feed item text */
.FeedItemDescription {
    padding: 4px 0px;
	font-size: medium;
}

/* Feed item links */
.FeedItemLink {
    font-weight: bold;
}

/* Anchor tags in the context of a feed item link */
.FeedItemLink a {
    text-decoration: underline;
    font-weight: bold;
    color: rgb(255,255,255);
}

/* Focused anchor tags */
.FeedItemLink a:focus {
    background: rgb(65,131,68);
    color: rgb(255,255,255);
}

/* Focused anchor tags */
.FeedItemLink a:hover {
    background: rgb(65,100,68);
    color: rgb(255,255,255);
}
