div#softKeysPane {
	font-weight: bold;
	background-color: #E1E1E1;
	height: 20px;
	background-image: url(../images/top-navigation-bg.png);
	background-repeat: repeat-x;
	color: #FFFFFF;
}
div#menuPane {

}
div#menuItemsPane {
	background-color: #efefef;
	z-index: 1000;
	position: absolute;
	top: 100px;
	width: 240px;
	border-top: 1px solid #CCCCCC;
	display: none;
}
#menuItemsPane ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
#menuItemsPane li {
	padding: 4px 2px 2px 4px;
	height: 14px;
	border-top: 1px solid #F4F4F4;
	border-bottom: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	font-weight: bold;
}

#menuItemsPane li a{
	text-decoration: none;
	color: #000000;
}

#menuItemsPane li.subMenuItem{
	background-image: url(../images/arrow.png);
	background-repeat: no-repeat;
	background-position: right top;
}
#menuItemsPane li.s60AppToggle{
	background-image: url(../images/s60-tiny-icon.png);
	background-repeat: no-repeat;
	background-position: right center;
}
#menuItemsPane li.exitOrBackBtn{
	background-color: #D4D4D4;
}